<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width = device-width, initial-scale = 1.0">
        <meta http-equiv="X-UA-Compatible" content = "ie=edge">
        <title> 게시판 </title>

        <!--외부스타일시트 연결구문-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link th:href="@{/css/board.css}" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <header>            
            <div class="home">
                <a href="#"><img class="menuImg" src="/img/boardImg/menu.png"/></a>
                <div class="logoText"><a th:href="@{/fastfood/menu}">Menu</a></div>
            </div>        
            <div class="userId">
               <span th:utext="${userId}"></span>
            </div>
        </header>
        <section id="main">
            <div class="left">
                <h1><a th:href="@{/fastfood/board}">자유 게시판</a></h1>
                <!--
                <button type="button" th:onclick="|location.href='@{/fastfood/addPost(id=${session.user.id})}'|">
                    <img th:src="@{/img/boardImg/plus.png}">
                     ADD POST
                </button>
                -->
                <button type="button" th:onclick="|location.href='@{/fastfood/addPost}'|">
                    <div class="block">글쓰기</div>
                </button>
            </div>
        </section>
        <section id="boardTable">
            <div id="boardDiv">
                <table id="boardT">                   
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>조회수</th>
                    </tr>
                    <tr th:each="board : ${boards}">
                        <th><span th:text="${board.getNo()}"></span></th>
                        <th><span th:text="${board.getTitle()}"
                                  th:onclick="|location.href='@{/fastfood/boardContent(id=${board.getNo()})}'|"></span></th>
                        <th><span th:text="${board.getUserId()}"></span></th>
                        <th><span th:text="${board.getCreateDate()}"></span></th>
                        <th><span th:text="${board.getCnt()}"></span></th>
                    </tr>
                </table>
            </div>
            <!-- 페이징 -->
            <nav aria-label="Page navigation">
                        <ul id="pageInfo" class="pagination" style="justify-content: center;">
                            <li th:if="${pages.isPrev()}" class="page-item"><a class="page-link" th:href="@{/fastfood/board(page=${pages.getCurrentPage()-6},target=${param.target}, searchKeyword=${param.searchKeyword})}">Previous</a></li>
                           <th:block th:each="page : ${#numbers.sequence(pages.getStartPage(),pages.getEndPage())}">
                               <li class="page-item" th:classappend="${pages.getCurrentPage()==page} ? ' active':''" ><a class="page-link" th:href="@{/fastfood/board(page=${page - 1},target=${param.target}, searchKeyword=${param.searchKeyword})}" th:text="${page}"></a></li>
                           </th:block>
                            <li th:if="${pages.isNext()}" class="page-item"><a class="page-link" th:href="@{/fastfood/board(page=${nextPage},target=${param.target},searchKeyword=${param.searchKeyword})}">Next</a></li>
                        </ul>
            </nav>
            <!-- 검색 -->
            <form  class="search-form" th:action="@{/fastfood/board}" method="get">
                <div class="search-box">
                    <select name="target" class="search-select">
                        <option value="Title" th:selected="${#strings.equals(param.target, 'Title')} ? true : false " >제목</option>
                        <option value="Content" th:selected="${#strings.equals(param.target, 'Content')} ? true : false">내용</option>
                        <option value="TitleOrContent" th:selected="${#strings.equals(param.target, 'TitleOrContent')} ? true : false">제목+내용</option>
                        <option value="Writer" th:selected="${#strings.equals(param.target, 'Writer')} ? true : false">글쓴이</option>
                    </select>
                    <input class="search-text" type="text" name="searchKeyword" th:placeholder="${#strings.isEmpty(param.searchKeyword)} ? '검색해주세요': ${param.searchKeyword}">
                    <button class="search-btn" type="submit" >검색</button>
                </div>
            </form>

        </section>
        <script type="module" th:src="@{/js/initAuth.js}"></script>
    </body>

</html>