
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> 상세페이지 </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <link th:href="@{/css/boardContent.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--외부스타일시트 연결구문-->
</head>

<body>

<article>

    <div class="container" role="main">
        <div id="board_head">
            <h2>board Content</h2>
        </div>
        <div class="bg-white rounded shadow-sm">
            <div id="title" class="board_title">
                <input id="title-field" type="text" th:value="${boards.getTitle()}"
                       th:readonly="${checkedMe ? false : 'readonly'}"
                       th:style="${!checkedMe ? 'border:none;' : ''}">

            </div>
            <div class="board_info_box">
                <span class="board_id" th:text="${boards.getUserId()}"></span>
                <span class="board_date" th:text="${boards.getCreateDate()}"></span>
            </div>
            <div class="board_content">
                    <textarea id="content" th:text="${boards.getContent()}"
                              th:readonly="${checkedMe ? false : 'readonly'}"></textarea>
            </div>
        </div>


        <div style="margin-top : 20px">

            <button type="button" class="btn btn-sm btn-primary" id="btn-update"
                    th:disabled="${checkedMe ? false : 'disabled'}">수정
            </button>

            <button type="button" class="btn btn-sm btn-primary" id="btn-delete"
                    th:disabled="${checkedMe ? false : 'disabled'}">삭제
            </button>

            <button type="button" class="btn btn-sm btn-primary" id="btn-list"
                    th:onclick="|location.href='@{/fastfood/board}'|">돌아가기
            </button>

        </div>

        <div id="comment-list-main">
            <div id="comment-list-header">
                <div class=comment-footer-box>
                    <span class="comment-size"
                          th:text="${not #strings.isEmpty(comments)} ? ${#lists.size(comments)} : '0'"></span>
                    <span>comments</span>
                </div>
            </div>
            <ul id="comment-uls">
                <div th:if="${not #strings.isEmpty(comments)}">
                    <li class="comment-list-item" th:each="comment : ${comments}">
                        <span>
                            <span style="font-size: small" th:text="${comment.getWriter()}"></span>
                            <span style="font-size: xx-small" th:text="${comment.getCreateDate()}"></span>&nbsp;
                            <button type="button" class="badge bi bi-pencil-square"
                                    th:disabled="${connectId.equals(comment.getWriter()) ? false : 'disabled'}"
                                    data-toggle="collapse" th:data-target="|.multi-collapse-${comment.getNo()}|">수정</button>

                             <button type="button" class="badge bi bi-pencil-square" id="btn-comment-delete"
                                     th:disabled="${connectId.equals(comment.getWriter()) ? false : 'disabled'}"
                                     th:value="${comment.getNo()}">삭제</button>
                        </span>
                        <p th:class="'collapse multi-collapse-'+${comment.getNo()}+' show'"
                           th:text="${comment.getContent()}"></p>

                        <form th:class="'collapse multi-collapse-'+${comment.getNo()}" >
                            <input type="hidden" id="id" th:value="${comment.getNo()}">
                            <div class="form-group">
                                <textarea class="form-control" id="comment-content" rows="3"
                                          th:text="${comment.getContent()}"></textarea>
                            </div>
                            <button type="button" id="btn-comment-update"
                                    class="btn btn-outline-primary bi bi-pencil-square"> 수정</button>
                        </form>
                    </li>
                </div>
            </ul>

        </div>

        <div id="comment-input">
            <div id="comment-header">
                <h6>Write a Comment</h6>
            </div>
            <div id="comment-body">
                <textarea class="comment-area" id="commentIn"> </textarea>
            </div>
            <div id="comment-footer">
                <button type="button" class="comment-save-btn" id="btn-comment-save">등록</button>
            </div>
        </div>
    </div>
    <input type="hidden" name="hidden-id" th:value="${boards.getNo()}" id="hidden-id">

</article>
<th:block th:replace="common/footer :: footerFragment"></th:block>
<script type="text/javascript"
        src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="module" src="/js/Boardinit.js"></script>
</body>
</html>