<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> AdminPage </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link th:href="@{/css/productMange.css}" rel="stylesheet" type="text/css">
</head>

<body>
<div id="wrap">
  <header>
    <div id="head">
      <h4>ADMIN</h4>
    </div>
  </header>

  <nav>
    <div class="card-user">
      <img src="/img/superHome/admin.png">
      <div id="user-info">
        <h5 th:text="${customer.getUserId()}"></h5>
        <p th:text="${customer.getEmail()}"> </p>
      </div>
    </div>
    <ul class="subMenu">
      <li><button type="button" class="side-btn" th:onclick="|location.href='@{/fastfood/superMainHome}'|">Home</button></li>
      <li><button type="button" class="side-btn" onclick="logout()">LOGOUT</button></li>
      <li><button type="button" class="side-btn">고객 관리</button></li>
      <li><button type="button" class="side-btn"
                  th:onclick="|location.href='@{/fastfood/productAdd}'|">메뉴 추가</button></li>
      <li><button type="button" class="side-btn"
                  th:onclick="|location.href='@{/fastfood/productList(cateName=버거)}'|">메뉴 관리</button></li>
      <li><button type="button" class="side-btn"
                  th:onclick="|location.href='@{/fastfood/DaySettlement(yearMonth=${currentDate})}'|">결산</button></li>
    </ul>
  </nav>

  <section>
    <div id="title">
      <span>제품 관리</span>
    </div>
    <div id="totalInfo">
      <form name="editForms" id="editForm" onSubmit="return false">
        <div id="infoAdd">
          <div id="pname">
            <span class="ptext">제품명 </span>
            <input type="text" class="pname-text" id="name" th:value="${product.getProductName()}" >
          </div>
          <div id="pprice">
            <span class="ptext"> 가격(원) </span>
            <input type="text" class="pname-text" id="price" th:value="${product.getPrice()}">
          </div>
          <div id="pcate">
            <span>카테고리</span>
            <select id="cateName">
              <option th:each="cateName : ${cateNameList}" th:value="${cateName}" th:text="${cateName}"
                      th:selected="${#strings.equals(cateName, product.getCateName()) ? true : false}" disabled></option>
            </select>
          </div>
          <div id="pcheck">
            <span>품절 여부</span>
            <input type="checkbox" id=check1 th:checked="${product.isAllSale() ? true : false }">
            <label for="check1" th:checked="${product.isAllSale() ? true : false }"></label>
          </div>
          <div id="btnSet">
            <button id="product-upload-btn" class="custom-btn">
              <span>수정</span>
            </button>
            <button id="product-delete-btn"
                    class="custom-btn removeBtn">
              <span>삭제</span>
            </button>
          </div>
        </div>
        <div id="imgAdd">
          <div id="showBox">
            <img class="showImg" th:src="@{${product.getImgUrl()}}">
          </div>
          <div id="imgbtn">
            <label for="file">파일찾기</label>
            <input type="file"  id="file" name="imgFile" onchange="previewImage(this); return false;" />
            <input class="upload-name" value="파일명">
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
<input type="hidden" th:value="${id}" id="hidden-product-id">
<script type="text/javascript"
        src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="/js/initAuth.js" type="module"></script>
<script src="/js/ForElement/InsertImg.js" type="text/javascript"></script>
<script src="/js/ForAjax/productInit.js" type="module"></script>
</body>
</html>