list{ list-style: none;}
body {
	padding-top: 10px;
	padding-bottom: 30px;
}
#board_head{
    background-color: #f57979;
    margin-bottom: 30px;
        
}
.board_title {
	font-weight : 900;
	font-size : 32pt;
	margin: 10pt 10pt 40px;

}

.board_info_box {
	color : #6B6B6B;
	margin : 10pt;
    border-bottom: 3px solid #000;
    border-bottom-color: #e05858;
    margin-bottom: 40px;
}

.board_id {
	font-size : 10pt;
	margin-right : 10pt;
}

.board_date {
	font-size : 10pt;
}

.board_content {
	color : #444343;
	font-size : 14pt;
	margin : 10pt;
}
textarea{
	height: 250px;
	width: 100%;
	resize: none;
	border-color: #f57979;
}
button{
	background-color: #0d6efd;
	border-radius: 12px;
}
#title-field{
	width:100%;
	height: 80px;
}
#comment-input{
	margin-top: 10px;
	border: 3px solid #ea6171;
	width: 100%;
	overflow: hidden;
	border-radius: 10px;
}
#comment-header{
	width: 100%;
	overflow: hidden;
	text-align: center;
	background-color: #ea6171;
}
#comment-body{
	width: 100%;
	height: 80px;
	background-color: #f4dedf;
	position: relative;
}
.comment-area{
	width: 95%;
	position: relative;
	display: block;
	height: 50px;
	margin: 0 auto;
	top: 20%;
	resize: none;
}
#comment-footer{
	width: 100%;
	overflow: hidden;
	background-color: #ea6171;
	padding: 7px;
}
.comment-save-btn{
	background-color: #3f9ee3;
	border-radius: 10px;
	margin-left: 10px;
	color: aliceblue;
}
#comment-list-main{
	overflow: hidden;
	width: 100%;
	margin-top: 20px;
	border: 1px solid #f45a5a;
}
#comment-list-header{
	width: 100%;
	background-color: #f7a0a0;
	height: 40px;
}
#comment-uls{
	background-color: #ecf0f5;
	overflow: hidden;
	width: 100%;
}
.comment-list-item{
	border-bottom: 1px solid #e2dada;
	margin-top: 10px;
	overflow: hidden;
}
.comment-footer-box{
	margin-left: 20px;
}
.comment-size{
	font-weight: 600;
}


