@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
*{
	font-family: 'Raleway', sans-serif;;
}
a {
	text-decoration: none;
}
#container{
	width:70%;
	height:90%;
	margin: 90px auto;
}
.imgae-box{
	width: 50%;
	height: 100%;
	float:left;
	box-sizing: border-box;
	background-image: url("../img/boardImg/login.png");
	background-size: 100%;
}
.title-msg{
	position: relative;
	left: 15%;
	font-size: 40px;
	font-weight: 600;
	color:#fa6e07;
	top:-3%;
}
.loginbox {
	width: 50%;
	height: 100%;
	float:left;
	box-sizing: border-box;
	background-color: #ffcea3;
}

.loginbox h1 {
	width: 100%;
	height: 40px;
	font-size: 28px;
	color: #fa6e07;
	border-bottom: 1px solid #ff9900;
	padding-left: 40px;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: 3px 5px;
	margin-bottom: 30px;
	text-align: center;
}
.login-form{
	width: 100%;
	height: 80%;

	box-sizing: border-box;
}
.input-field{
	width: 60%;
	height: 7%;
	position: relative;
	margin: 0 auto 5px;
}
.login-box{
	width: 120%;
	height: 80%;
	border-radius: 10px;
	border: 0.5px solid #ff9900;
	position: relative;
	left: -10%;
}
.chk {
	width: 100%;
	text-align: right;
	padding-right: 13px;
	box-sizing: border-box;
}

.chk label {
	font-size: 12px;
	color: #999;
	position: relative;
	top: -3px;
}
.search {
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	line-height: 40px;
	text-align: center;
	margin-bottom: 20px;
}

.search a {
	font-size: 18px;
	text-decoration: none;
	color: black;
	padding: 3px 5px;
	font-weight: 500;
	position: relative;
	left: 30%;
}

.btnwrap {
	width: 100%;
	text-align: center;
	margin-top: 15px;
	height: 300px;
}

.btnwrap a {
	width: 80%;
	height: 40px;
	background-color: #999;
	text-decoration: none;
	display: block;
	border-radius: 15px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	line-height: 35px;
	position: relative;
	left:10%;
	margin-top:50px;
}

#loginbtn {
	width: 80%;
	height: 40px;
	border: none;
	background-color: #ff9900;
	border-radius: 15px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	top: 1px;
	margin-top:20px;
}
.error-msgs{
	margin-left: 80px;
}
