@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
a{
    text-decoration: none;
}
body{
    background-color: beige;
}
#wrap{
    width: 100%;
    height: 1000px;
    background-color: beige;
}
/* ---------- header ---------- */
#head{
    width: 100%;
    height: 60px;
    background-color: #fca0a0;
    justify-content: space-between;
}
#head h4{
    line-height: 60px;
    padding-left: 20px;
    color: aliceblue;
}
/* ---------- nav ---------- */
nav{
    width: 15%;
    height: 100%;
    background-color: aliceblue;
    float: left;
}
.card-user{
    width: 100%;
    height: 130px;
    position: relative;
    background-image: url(../img/superHome/user-img-background.jpg);
    margin-bottom: 20px;
}
.card-user img{
    background-color: #e8dfdf;
    border-radius: 40px;
    width: 50px;
    position: absolute;
    left:17px;
    top: 15px;
}
.card-user #user-info{
    position: absolute;
    left:20px;
    top: 75px;
    color: aliceblue;
    font-size: 13px;
}

nav > .subMenu {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
}
nav li{
    height: 55px;
    line-height: 45px;
    margin-bottom: -5px;
}
.side-btn{
    text-align: left;
    padding-left: 20px;
    width: 100%;
    color: #9d9595;
    font-size:20px;
    border: 0px;
    background-color:aliceblue;
    border: 2px solid #f45252;
    border-radius: 14px;
    transition: all 0.4s;
}
.side-btn:hover{
    cursor: pointer;
    color: red;
    width: 80%;
    background-color:#e67f7f;
}

/* ---------- section ---------- */

/* article-box */
section{
    width: 81.8%;
    height: 100%;
    top: 0;
    float: left;
    left: 250px;
    background-color: beige;
}
#cateTab {
    width: 80%;
    height: 7%;
    position: relative;
    left: 10%;
}
.categories{
    width:16%;
    height: 100%;
    display: inline-block;
    position: relative;
    left:1%;
    font-size: 35px;
    text-align: center;
    margin-left: -2.2px;
    margin-right: -1.4px;
}
.categories:hover{
    cursor: pointer;
}
.categories span{
    font-size: 1em;
}
.active{
    border-bottom: 5px solid #808080;
}
#bor {
    position: relative;
    width: 80%;
    border-bottom: 2px #808080;
    margin: 0 auto;
}
#bor tr:hover{
    cursor: pointer;
}
#bor th,
#bor td {
    height: 80px;
    text-align: center;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #808080;
    font-size:24px;
}

button {
    padding: 5px;
    background-color: #51aec3;
    color: #f8f8f8;
    font-size: 12px;
    font-weight: 500;
    border: none;
}
#chk{
    display: inline-block;
    width: 40%;
    height: 40%;
    border: 2px solid #bcbcbc;
}

@media (max-width:1600px){
    #wrap {width: 97%;}
}
@media (max-width:1440px){
    #wrap {width: 97%;}
}
@media (max-width:1200px){
    #wrap {width: 95%;}
}
@media (max-width:768px){
    #wrap {width: 90%;}
}
@media (max-width: 480px){
    #wrap {width: 100%;}
    nav {float: none; width: 100%; height: 300px;}
    section {float: none; width: 100%; height: 300px;}
}