@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
a{
    text-decoration: none;
}
body{
    background-color: beige;
}
#wrap{
    width: 100%;
    height: 1400px;
    background-color: beige;
}
/* ---------- header ---------- */
#head{
    width: 100%;
    height: 60px;
    background-color: #fca0a0;
    justify-content: space-between;
}
#head h4{
    line-height: 60px;
    padding-left: 20px;
    color: aliceblue;
}
/* ---------- nav ---------- */
nav{
    width: 15%;
    height: 100%;
    background-color: aliceblue;
    float: left;
}
.card-user{
    width: 100%;
    height: 130px;
    position: relative;
    background-image: url(../img/superHome/user-img-background.jpg);
    margin-bottom: 20px;
}
.card-user img{
    background-color: #e8dfdf;
    border-radius: 40px;
    width: 50px;
    position: absolute;
    left:17px;
    top: 15px;
}
.card-user #user-info{
    position: absolute;
    left:20px;
    top: 75px;
    color: aliceblue;
    font-size: 13px;
}

nav > .subMenu {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
}
nav li{
    height: 55px;
    line-height: 45px;
    margin-bottom: -5px;
}
.side-btn{
    text-align: left;
    padding-left: 20px;
    width: 100%;
    color: #9d9595;
    font-size:20px;
    border: 0px;
    background-color:aliceblue;
    border: 2px solid #f45252;
    border-radius: 14px;
    transition: all 0.4s;
}
.side-btn:hover{
    cursor: pointer;
    color: red;
    width: 80%;
    background-color:#e67f7f;
}

/* ---------- section ---------- */

/* article-box */
section{
    border: 3px solid #e67f7f;
    width: 81.8%;
    height: 100%;
    top: 0;
    float: left;
    left: 250px;
    background-color: beige;
}
#article-box{
    width: 100%;
    height: 10%;
}
.alarm-box{
    margin-top: 20px;
    margin-left: 4%;
    width: 20%;
    height: 100%;
    float: left;
}
.alarm-box .img-box{
    display: inline-block;
    width: 30%;
    height: 100%;
    background-color: #7ce67c;
}
.alarm-box .info-box1{
    background-color:  #6bcc6b;
}
.alarm-box .info-box2{
    background-color:  #f0aa39;
}
.alarm-box .info-box3{
    background-color:  #f53d3d;
}
.alarm-box .info-box4{
    background-color:  #3939f5;
}
.info-img-loc{
    position: relative;
    top: 20px;
    left: 20%;
    width: 60%;
}
.ro{
    transform:rotate(90deg);
}
.count-box{
    float: right;
    width: 70%;
    height: 100%;
    padding-left: 5%;
    padding-top: 5%;
}
.count-box h5{
    font-size: 100%;
    font-weight: bold;
}
.count-box p{
    font-size: 1.5em;
    line-height: 13px;
}
#user-count{
    background-color: #7ce67c;
}
#order-count{
    background-color: #eab662;
}
#sale-count{
    background-color: #f47482;
}
#board-count{
    background-color: #8a7cf4;
}
/* article-lineChart */
#article-lineChart{
    height: 38%;
    width: 90%;
    position: relative;
    top:7%;
    left: 5%;
}
#line-chart{
    width: 100%;
    height: 100%;
}
/* article-extraChart */
#article-extraChart{

    position: relative;
    width:90%;
    height: 40%;
    top:10%;
    margin: 0 auto;
}
.chart-box{
    width: 25%;
    height: 70%;
    float:left;
    margin: 0 4.1%;
}
#pie-chart{
    width: 100%;
    height: 100%;
}
.pie-box{
    height: 100%;
    background-color: #4aa852;
}
.customer-cnt{
    background-color: #ff4949;
    height: 100%;
}
.customer-label{

    width: 100%;
    height: 55%;
}
.label-1{
    width: 100%;
    height: 30%;
    font-size: 1.3em;
    color: white;
}
.span1{
    position: relative;
    left:5%;
}
.span2{
    position: absolute;
    left: 57%;
}
.rank{
    margin-top: 10px;
}
.title{
    width: 100%;
    height: 20%;
    text-align: center;
    background-color: #fdab27;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.title strong{
    font-size: 1.4em;
    line-height: 200%;
    color: orangered;
}
.rank-menu{
    width: 100%;
    height: 80%;
    background-color: #f0c682;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.rank-menu span{
    text-align: center;
    display: block;
    margin-bottom: 2%;
    line-height: 1.5em;
    color: #fc7878;
    font-size: 1.3em;
}
@media (max-width:1600px){
    #wrap {width: 97%;}
}
@media (max-width:1440px){
    #wrap {width: 97%;}
}
@media (max-width:1200px){
    #wrap {width: 95%;}
}
@media (max-width:768px){
    #wrap {width: 90%;}
}
@media (max-width: 480px){
    #wrap {width: 100%;}
    nav {float: none; width: 100%; height: 300px;}
    section {float: none; width: 100%; height: 300px;}
}