<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> AdminPage </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/ResetPasswd.css}">

</head>

<body>
<div id="wrap">
    <header>
        <div id="head">
            <span>BUGGER QUEEN</span>
            <p>비밀번호를 초기화하기 위해 아이디와 이메일을 입력해주세요</p>
            <p class="sub-info">인증코드를 받아도 해당 화면에 벗어나면 다시 인증코드를 받아야합니다.</p>
            <p class="sub-info">현재는 네이버 , 구글 이메일만 가능합니다.</p>
        </div>
    </header>

    <section>
        <div class="set-box-size">
            <input type="text" class="insert-field userId" placeholder="아이디를 입력해주세요" onfocus="this.placeholder = ''" onblur="this.placeholder = '아이디를 입력해주세요'">
            <input type="email" class="insert-field userEmail" placeholder="이메일을 입력해주세요" onfocus="this.placeholder = ''" onblur="this.placeholder = '이메일을 입력해주세요'"
                   required>
            <button class="btn" id="check-info-btn">다음</button>
        </div>
        <div class="set-add-info">
            <span>다시 로그인 페이지로 돌아고싶으면? </span>
            <a th:href="@{/fastfood/login}">로그인 페이지</a>
        </div>
    </section>

</div>

<footer>

</footer>
    <script type="text/javascript"
            src="https://code.jquery.com/jquery.min.js"></script>
    <script type="module" src="/js/ForAjax/mailInit.js"></script>
</body>
</html>