<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 정보 수정</title>
    <link rel="stylesheet" href="/css/adminmenuStyle.css" type="text/css">

</head>
<body>
<header>
    <h3>
        <img src="/img/bugerQueen.png" width="50" height="50">
        <a th:href="@{/fastfood/menu}"> BURGER-QUEEN</a>
    </h3>
    <div>
        <a href="/fastfood/logout">로그아웃</a>
    </div>
</header>
<main>
    <div class="con2">
        <div>
            <h2>정보 수정</h2>
        </div>
        <hr>
        <br>
        <div>
            <strong>ID</strong>
            <input class="s_id" type="text" name="userId" id="userId" th:value="${customer.getUserId()}" disabled>
        </div>
        <br>
        <hr>
        <div>
            <strong>E-mail</strong>
            <input type="text" name="email" id="email" th:value="${customer.getEmail()}">
        </div>
        <br>
        <hr>
        <div>
            <strong>phone</strong>
            <input type="text" name="phoneNum" id="phoneNum" th:value="${customer.getPhoneNum()}">
        </div>
        <br>
        <hr>
        <div>
            <strong>카드사</strong>
            <select class="box" name="cardCompany" id="cardCompany">
                <option>선택</option>
                <option value="카카오뱅크"
                        th:selected="${#strings.equals(customer.getCardCompany(), '카카오뱅크')} ? true : false ">카카오뱅크
                </option>
                <option value="신한은행"
                        th:selected="${#strings.equals(customer.getCardCompany(), '신한은행')} ? true : false ">신한은행
                </option>
                <option value="국민은행"
                        th:selected="${#strings.equals(customer.getCardCompany(), '국민은행')} ? true : false ">국민은행
                </option>
                <option value="농협" th:selected="${#strings.equals(customer.getCardCompany(), '농협')} ? true : false ">
                    농협
                </option>
            </select>
        </div>
        <br>
        <hr>
        <div>
            <strong>카드번호</strong>
            <input type="text" name="cardNum" id="cardNum" th:value="${customer.getCardNum()}">
        </div>
        <br>
        <hr>
        <div class="btnBox">
            <button type="button" id="update-button" class="btn btn-primary">수정</button>
            <button type="button" th:onclick="|location.href='@{/fastfood/menu}'|">돌아가기</button>
            <input type="hidden" id="id" th:value="${id}" disabled>
        </div>
    </div>
</main>
</body>
<script type="text/javascript"
        src="https://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="/js/customerInit.js"></script>
</html>
