<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 - 글쓰기</title>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
          <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>   
         <script type="text/javascript" th:inline="javascript">            
           function showImage(input) { //이미지 미리보기 메소드   
              
                  if (input.files && input.files[0]) { // input이 이미지이므로 files(파일리스트), files[0]자신이 선택한 이미지 객체가 존재하는지 검사
                     //이미지를 선택할 시 
                     
                     
                     var reader = new FileReader();
                     //이미지 파일을 읽기위한 FileReader(비동기)함수를 가져온다
                     reader.readAsDataURL(input.files[0])
                     //readAsDataURL메소드를 통해 이미지 파일을 읽어온다.
                      reader.onload = function (e) {//정상적으로 파일을 읽으면 함수 실행
                        //reader.onload는 reader가 정상적인으로 어떤 파일을 정상적으로 읽었을 경우 발생하는 핸들러
                         
                          var previewImage = document.getElementById("showimage")
                           //img 아이디인 showimage를 찾아  previewImage저장
                          previewImage.src = e.target.result
                         //preview 이미지를 경로 값을 읽어온 이미지의 값을 저장해 이미지로 불러온다
                           
                           
                           //------제이쿼리 사용 시
                           //$('showimage').attr('src', e.target.result);
                           //이미지 아이디 showimage를 attr 함수를 통해 읽은 이미지 값을 src(경로)에 저장
                         //attr은 jquery문이기 때문에 $을 사용
                     // reader가 비동기로 작동해서 html에 있는 img(62번쨰 줄)를 실행하여 읽어온 이미지를 보여준다
                     }
                     
                  }
              }         
         </script>      
</head>
<body>
<div class="container">


    
   
    <form th:action="@{/fastfood/productAdd}" method="post" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label"><strong>음식명(2글자~10글자)</strong></label>
            <div class="col-sm-10">
                <input type="text" name="pname" class="form-control" id="inputTitle" min=4 max=20>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputAuthor" class="col-sm-2 col-form-label"><strong>가격(500원~15000원))</strong></label>
            <div class="col-sm-10">
                <input type="number" name="pprice" class="form-control" id="inputAuthor" min="500" max="15000">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputContent" class="col-sm-2 col-form-label"><strong>카테고리</strong></label>
            <div class="col-sm-10">
               <select name="category">
                  <th:block th:each="catename, count: ${cateList}">
               <option th:value="${catename.categoryName}" th:text="${catename.categoryName}"></option>
               </th:block>               
            </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputFile" class="col-sm-2 col-form-label"><strong>첨부 파일</strong></label>
            <div class="col-sm-10">
                <div class="custom-file" id="inputFile" style="width: 500px; height: 500px;">
                    <input name="file" type="file" accept=".jpg, .png" required class="custom-file-input" 
                    id="customFile" onchange="showImage(this)" >  <!--인자로 이미지 자기자신을 넘겨준다 -->               
                    <img id="showimage" style="width: 500px; height: 500px;" src="#" alt="your image" />      <!--이미지 미리보기위한  img -->                                       
                    <label class="custom-file-label" for="customFile">파일을 선택해 주세요.</label>                     
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
            
                <input class="btn btn-primary" type="submit"  value="추가">
            </div>
        </div>
    </form>
    
    
    <h4 th:if="${isaddSuccess}=='0'" style="color:red;"> 이미 존재하는 상품입니다. </h4>
    <h4 th:if="${isaddSuccess}=='1'" style="color:red;"> 업로드 완료 </h4>
    <h4 th:if="${isaddSuccess}=='2'" style="color:red;"> 중복된 이미지 명이 있습니다ㅏ </h4>
        	
     
</div>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
</body>
</html>