<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>회원가입</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/registerPage.css}" >
</head>
<body>
<div class="joinForm">
    <h2>회원가입</h2>
    <div class="textForm">
        <input type="text" class="id" name="userId" id="userId" placeholder="아이디">
    </div>
    <div class="textForm">
        <input type="password" class="pw" id="userPasswd" name="userPasswd" placeholder="비밀번호">
    </div>
    <div class="textForm">
        <input type="text" class="email" name="email" id="email"
               th:value="${not #strings.isEmpty(mail) ? mail : ''}"
               th:placeholder="${#strings.isEmpty(mail) ? '이메일' : ''}"
               th:readonly="${not #strings.isEmpty(mail) ? 'readonly' : false}"
        >
    </div>
    <div class="textForm">
        <input type="number" class="cellphoneNo"  id="phoneNum" name="phoneNum" placeholder="전화번호">
    </div>
    <div class="textForm">
        <span class="card-label">카드사</span>
        <div class="selectBox">
            <select class="card" name="cardCompany" id="cardCompany">
                <option disabled selected>선택</option>
                <option value="카카오뱅크" method="post">카카오뱅크</option>
                <option value="신한은행" method="post">신한은행</option>
                <option value="국민은행" method="post">국민은행</option>
                <option value="농협"  method="post">농협</option>
            </select>

        </div>
    </div>
    <div class="textForm">
        <input type="number" class="cellphoneNo" id="cardNum" name="cardNum" placeholder="카드번호">
    </div>
    <input type="submit" id="save-button" class="btn" value="J O I N"/>
    <input type="submit" class="back-btn" value="돌아가기" th:onclick="|location.href='@{/fastfood/login}'|"/>
</div>

<script type="text/javascript"
        src="https://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="/js/customerInit.js"></script>
</body>
</html>